@page "{customerId:int}"

@model BlobStorage.Pages.Customers.DetailModel
@{
    ViewData["Title"] = "Detail";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.css" crossorigin="anonymous">

<style>
    html {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

    main {
        margin: 20px;
    }

    #gallery-note {
        font-size: smaller
    }

    .dropzone {
        border: 3px dashed #00a1f1;
        background: #F0F8FF;
        margin: 25px;
        border-radius: 5px;
        max-width: 400px;
    }

    .dropzone .dz-message {
        font-weight: 300;
    }

    .dropzone .dz-message .note {
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 200;
        display: block;
        margin-top: 1.5rem;
    }
</style>

<a asp-page="./List" class="btn btn-default"><i class="fa-solid fa-circle-arrow-left"></i></a>

<h2>@Model.Customer.Name</h2>
<div>
    ID: @Model.Customer.ID
</div>
<div>
    Location: @Model.Customer.Location
</div>
<div>
    BussineType: @Model.Customer.BussineType
</div>
  
    <div class="box header">
    </div>
    
    <div class="box content">
        <hr>
        <div>
            <form action="/api/Files"
                 class="dropzone needsclick dz-clickable" 
                 id="file-upload"
                 method="post"
                 enctype="multipart/form">

                <div class="dz-message needsclick">
                    <span class="note needsclick">
                        Drop files here or click to upload.
                    </span>
                </div>
            </form>
        </div>
        <ul id="fileList"></ul>
</div>
       
<script>

    // Grab links for files from backend api
    function fetchLinks() {
        // Fetch links
        $.get("api/Files", function(fetchedLinks) {

            var newList = $('<ul id="fileList" />')

            $.each(fetchedLinks, function(index, value) {
                var li = $('<li/>').appendTo(fileList)
                $('<a/>').attr('href', value).text(value.split('/').pop()).appendTo(li)
                newList.append(li)
            })

            $('#fileList').replaceWith(newList)
        });
    }

    // Start first interval
    fetchLinks()
    
    setInterval(function() {
        fetchLinks()
    }, 5000) 

    /* Dropzone */
    // "fileUpload" is the camelized version of the HTML element's ID
    Dropzone.options.fileUpload = {
        paramName: "file", // The name that will be used to transfer the file
        dictDefaultMessage: "Drop files here or click to upload",
        addRemoveLinks: true, // Allows for cancellation of file upload and remove thumbnail
        init: function() {
            myDropzone = this;
            myDropzone.on("success", function(file, response) {
                console.log("Success");
                myDropzone.removeFile(file);
                fetchLinks();
            });                    
        }
    };
</script>



<table class="table">
    @foreach(var Image in Model.Image)
    {
        <tr>
            <td>@Image.ID</td>
            <td>@Image.FileName</td>
            <td>@Image.CustomerID</td>
            <td>
                <a class="btn btn-lg">
                    <i class="fa-solid fa-eye"></i>
                </a>
            </td>
             <td>
                <a class="btn btn-lg"
                    asp-page="./EditImage" 
                    asp-route-customerImageId="@Image.ID">
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
                <a class="btn btn-lg"
                    asp-page="./DeleteImage" 
                    asp-route-customerImageID="@Image.ID">
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </td>
        </tr>
    }
</table>


<a asp-page="./EditImage" asp-route-customerId=@Model.Customer.ID class="btn btn-primary"> Add New</a>